{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script src="{% url 'admin:newsletter_js18n' %}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}newsletter/admin/js/subscriber_lookup.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}newsletter/admin/js/submit_interface.js" type="text/javascript"></script>
{% endblock %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ obje
ct_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  <li><a id="submitlink" href="submit/">{% trans "Submit" %}</a></li>
  </ul>
{% endif %}{% endif %}
{% endblock %}


{% block after_related_objects %}{{ block.super }}<script type="text/javascript">
addEvent(window, "load", function(e) { JsonSubscribers.init('id_message'{% if add %}, add=true{% endif %}); });
addEvent(window, "load", function(e) { SubmitInterface.init('submitlink'); });
</script>{% endblock %}
